<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script type="text/javascript" src="{{asset "js/components/modernizr.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/components/prism.js"}}"></script>

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/jquery.fancybox.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="progress" class="progress"></div>
    <header class="header">
        <nav class="main">
            <ul class="mainNav">
                <li><h1><a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" class="logo" /></a></h1></li>
                <li class="tag-bons-plans"><a href="/tag/bons-plans/">Bons plans</a></li>
                <li class="tag-films"><a href="/tag/films/">Films</a></li>
                <li class="tag-lectures"><a href="/tag/lectures/">Lectures</a></li>
                <li class="tag-pro"><a href="/tag/pro/">Pro</a></li>
                <li class="tag-restos"><a href="/tag/restos/">Restos</a></li>
                <li class="tag-spectacles"><a href="/tag/spectacles/">Spectacles</a></li>
            </ul>
        </nav>
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <aside class="asideBar">
      <ul id="asideMenu">
        <li id="commentsCount" class="commentsCount">
          <a href="http://www.test4u.fr{{url}}#disqus_thread" class="disqus-comment-count"></a>
        </li><!--
        --><li id="tagsCloud" class="tagsCloud"> <a href="#" class="item tags"><img src="{{asset 'img/tags.jpg'}}" width="50" height="50" alt="Tags"/></a>
          <nav class="panel">
            <p class="header">Tags</p>
          </nav>
        </li>
        <li> <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.test4u.fr{{url absolute="true"}}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="item facebook"><img src="{{asset 'img/facebook.jpg'}}" width="50" height="50" alt="Facebook"/></a> </li>
        <li> <a href="https://plus.google.com/share?url=http://www.test4u.fr{{url absolute="true"}}"
            onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="item gplus"><img src="{{asset 'img/google.jpg'}}" width="50" height="50" alt="Google+"/></a> </li>
        <li> <a href="https://twitter.com/share?text={{encode title}}&amp;url=http://www.test4u.fr{{url absolute="true"}}"
              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="item twitter"><img src="{{asset 'img/twitter.jpg'}}" width="50" height="50" alt="Twitter"/></a> </li>
        <li> <a href="http://www.test4u.fr/rss/" class="item rss" target="_blank"><img src="{{asset 'img/rss.jpg'}}" width="50" height="50" alt="RSS"/></a> </li>
      </ul>
    </aside>

    {{! The main JavaScript file for skin }}
    <script type="text/javascript" src="{{asset "js/components/slideout.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/base.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/components/tagsCloud.js"}}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29894162-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
